{% load static wagtailuserbar %}
{% load menu_tags %}
<html class="no-js" la%ng="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/idea2point0.css' %}">

        {% block extra_css %}
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% main_menu template="menu/main_menu.html" %}
        {% wagtailuserbar %}

        {% block content %}
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/idea2point0.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
