<form role="search" method="get" class="form-search" name="query">  
    <div class="w3-container "style="margin:32px 100px">
        <br>
        <div class="w3-row-padding">
            <div class="w3-col s8">   
                <input id="query" name="query" class="w3-input w3-border" type="text" placeholder="Search">
            </div>
            <div class="w3-third">
                <button class="w3-row-padding w3-btn w3-yellow">Search</button>
            </div>
        </div>
        <br>
        {% for property in select_properties %}
            <div class="w3-row-padding">
                <div class="w3-col s8">
                    <label>{{ property.display}}:</label><br>
                    {% for option in property.options %}
                        <label>{{ option.display }}</label>
                        <input type="checkbox"  class="w3-check" name="{{ property.name }}" value="{{ option.key }}">
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}      
    </div>
</form>

     



















































 

