{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static wagtailuserbar %}


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/idea2point0.css' %}">
<body>

<!-- Navbar -->
{% main_menu template="menu/main_menu.html" %}

<!-- Header -->
<div class="w3-row-padding w3-padding-20 w3-container w3-yellow w3-center w3-margin-top" style="padding:50px 16px">
<div class="w3-col w3-container"style="width:20%"> 
    <h1><img src="\media\original_images\erasmus.jpg" class="w3-circle" alt="erasmus" ></h1>
</div>
  <div class="w3-rest w3-container w3-center ">
  <h1>{{page.title}}</h1>
  </div>
</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-20 w3-container">      
  <div class="w3-content">
    <div class="w3-twothird">
      <h5 class="w3-padding-32">{{page.intro|richtext}}</h5>
    </div>
    <div class="w3-third w3-center">
      <img src="\media\images\erasmus.max-800x600.jpg" class="w3-padding-" alt="leuk plaatje" style="width:100%"></img>
    </div>
  </div>
</div>


<!-- 3 boxes -->
<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
      <h3>Responsive</h3><br>
      <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
      <p>Built-in responsiveness</p>
      <p>Mobile first fluid grid</p>
      <p>Fits any screen sizes</p>
      <p>PC Tablet and Mobile</p>
    </div>
  </div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Standard CSS</h3><br>
  <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Standard CSS only</p>
  <p>Easy to learn</p>
  <p>No need for jQuery</p>
  <p>No JavaScript library</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Design</h3><br>
  <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Paper like design</p>
  <p>Bold colors and shadows</p>
  <p>Equal across platforms</p>
  <p>Equal across devices</p>
  </div>
</div>
</div>
</body>
</html>
























{% comment %} {% extends "base.html" %}



{% block body_class %}template-homepage{% endblock %}

{% block content %}

      <div class="jumbotron">
        <div class="container">

          <h1 class="display-3">{{ page.title }}</h1>
          {{ page.intro |richtext }}
        </div>
      </div>
    </main>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>{{ page.section_one_title }}</h2>
            {{ page.section_one_blurp |richtext }}
            <p><a class="btn btn-secondary" href="{{ page.section_one_link }}" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>{{ page.section_two_title }}</h2>
            {{ page.section_two_blurp |richtext }}
            <p><a class="btn btn-secondary" href="{{ page.section_two_link }}" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>{{ page.section_three_title }}</h2>
            {{ page.section_three_blurp |richtext }}
            <p><a class="btn btn-secondary" href="{{ page.section_three_link }}" role="button">View details »</a></p>
          </div>
        </div>
        <hr>
      </div>

{% endblock %} {% endcomment %}
