<form role="search" method="get" class="form-search" name="query">
<fieldset>

<div class="form-group">
    <label class="col-md-4 control-label" for="query">Search</label>  
    <div class="col-md-4">
    <input id="query" name="query" type="text" class="form-control input-md">
    </div>
</div>



{% for property in select_properties %}

    <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">{{ property.display }}</label>
        <div class="col-md-4">
            <select id="{{ property.name }}" name="{{ property.name }}" class="form-control">
            {% for option in property.options %}
                <option value="{{ option.key }}">{{ option.display }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

{% endfor %}



<div class="form-group">
    <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Search</button>
    </div>
</div>
</fieldset>
</form>