{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

      <div class="jumbotron">
        <div class="container">

          <h1 class="display-3">{{ page.title }}</h1>
          {{ page.intro |richtext }}
        </div>
      </div>
    </main>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>{{ page.section_one_title }}</h2>
            {{ page.section_one_blurp |richtext }}
            <p><a class="btn btn-secondary" href="{{ page.section_one_link }}" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>{{ page.section_two_title }}</h2>
            {{ page.section_two_blurp |richtext }}
            <p><a class="btn btn-secondary" href="{{ page.section_two_link }}" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>{{ page.section_three_title }}</h2>
            {{ page.section_three_blurp |richtext }}
            <p><a class="btn btn-secondary" href="{{ page.section_three_link }}" role="button">View details »</a></p>
          </div>
        </div>
        <hr>
      </div>

{% endblock %}
