{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags search_tags %}

{% block content %}
<div class="w3-row w3-container">
    <div class="w3-content">
        <h5>{{page.intro|richtext}}</h5>
    </div>
</div>

{% for day in event_days %}

<div class="w3-container">
    <ul class="w3-ul w3-hoverable">
        <div class="w3-container w3-twothird w3-card w3-grey">
            <h2>Date: {{ day.display_day }}</h2>
        </div>
        {% for event in day.event_list %}
        <a href="{% pageurl event %}">
            <div class="w3-container w3-twothird w3-card w3-white">
                <h2>{{ event.title }}: {{ event.specific.city}} - {{ event.specific.country }}</h2>
            </div>
        </a>
        {% endfor %}
    </ul>
</div>
{% endfor %}


{% endblock %}
