{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags search_tags %}

{% block content %}
<body>
    <div class="w3-row w3-container">      
        <div class="w3-content">
           <h5>{{page.intro|richtext}}</h5>
        </div>
    </div>
    <div class="container">  
        {% search %}
    </div>

{% for post in trainers %}

<div class="w3-container">
    <ul class="w3-ul w3-card w3-hoverable" class="w3-button">   
        
                <li>
                    <div class="w3-row">
                        <a href="{% pageurl post %}">
                            <div class="w3-twothird">
                                <div class "w3-bar-item">
                                    <h1>{{ post.title }}</h1>
                                </div>
                                <p>
                                {% comment %} Category: {{post.specific.category}}, Level: {{post.specific.level}}, Target audience: {{post.specific.targetaudience}} {% endcomment %}
                                </p>
                            </div>
                        </a>
                        <div class="w3-third w3-right-align">
                            <div class "w3-bar-item">
                                <img  src="{{post.specific.profilePicture.url}}" class="w3-circle w3-margin-bottom w3-image" style="max-width:64px" alt="Alps">
                            </div>
                        </div>
                    </div>
                </li>
            </a>  
             
    </ul>
    <br>
    <br>
</div>
 {% endfor %}  {% endblock %}