{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags search_tags %}

{% block content %}
<div class="w3-row w3-container">
    <div class="w3-content">
        <h5>{{page.intro|richtext}}</h5>
    </div>
</div>
<h1> This is the correct template </h1>

<div class="w3-container">
    <ul class="w3-ul w3-card w3-hoverable">
        {% for day in event_days %}
        <h1> The date! </h1>
        <div class="w3-row">
            <div class="w3-twothird">
                <h2>{{ day.date }}</h2>
            </div>
        </div>
        {% endfor %}
    </ul>
    <br>
    <br>
</div>
{% endblock %}
