{% load wagtailcore_tags %}
{% load menu_tags %}
{% load static wagtailuserbar %} 

{% block content %}

<div class="w3-row w3-container">      
    <div class="w3-content">
       <h5>{{page.title}}</h5>
    </div>
    </div>
    <div class="container">  
        {% search %}
    </div>
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div id="intro" class="intro">{{ page.intro }}</div>

    {% comment %} {{ page.body|richtext }} {% endcomment %}

    <p><a href="{{ page.get_parent.url }}">Return to index</a></p>

{% endblock %}